<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <param name="Append" value="false" />
        <file>${user.dir}/logs/example.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.example.battleunits.Army" level="error"/>
    <logger name="org.example.fighting.Duel" level="debug"/>
    <logger name="org.example.battleunits.Lancer" level="debug"/>
    <logger name="org.example.battleunits.Healer" level="debug"/>
    <logger name="org.example.battleunits.Vampire" level="debug"/>
    <logger name="org.example.battleunits.Defender" level="debug"/>

    <root level="debug">
        <appender-ref ref="file" />
    </root>

</configuration>